@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patua+One&family=Roboto+Condensed:wght@800&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  /* Light Mode */
  --color-primary: #314f66;
  --color-secondary: #7AAACE;
  --color-accent: #9CD5FF;
  --color-body: #F7F8F0;
  --color-text: #1a1a1a; /* Tambahkan warna teks untuk mode terang */
}

.dark {
  /* Dark Mode */
  --color-primary: #9CD5FF;
  --color-secondary: #7AAACE;
  --color-accent: #314f66;
  --color-body: #121212; 
  --color-text: #f7f8f0; /* Warna teks untuk mode gelap */
}

body {
  background-color: var(--color-body);
  color: var(--color-text); /* Terapkan variabel warna teks di sini */
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Tambahkan transisi agar halus */
}






